// Favourite.module.scss
.Favourite {
  padding: 40px 0;
  background-color: #0d0d0d;
  color: #fff;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .content {
    h2 {
      font-size: 24px;
      margin-bottom: 30px;
      text-align: center;
    }

    .movieGrid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
      margin-top: 20px;
    }

    .movieCard {
      background: #1a1a1a;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s, box-shadow 0.3s;

      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
      }

      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        display: block;
      }

      .details {
        padding: 15px;
        text-align: center;

        .title {
          font-size: 16px;
          font-weight: bold;
          color: #e6e6e6;
          margin-bottom: 8px;
        }

        .releaseDate {
          font-size: 14px;
          color: #b3b3b3;
          padding: 8px;
        }
        button {
          padding: 10px 20px;
          border: none;
          outline: none;
          background: darkblue;
          border-radius: 12px;
        }
      }
    }
  }

  // Responsive adjustments
  @media (max-width: 768px) {
    .content h2 {
      font-size: 20px;
    }
    .movieGrid {
      display: flex;
      flex-wrap: wrap;
    }
    .movieCard .details .title {
      font-size: 14px;
    }

    .movieCard .details .releaseDate {
      font-size: 12px;
    }
  }
}

// Loader Styles
$loader-color: #01b4e4; // Primary color for loader
$loader-size: 40px;
$loader-duration: 1.2s;

// Loader container for centering
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

// Loader Animation
.loader {
  border: $loader-size solid transparent;
  border-top: $loader-size solid $loader-color;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin $loader-duration infinite linear;
  margin: 0 auto;
}

// Spin animation for loader
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
